@import 'reset.less';
@import 'variables.less';
@import 'fonts.less';





/***************/
/*** GENERAL ***/
/***************/

* { 
	box-sizing: border-box; 
}
    
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 110%;
	color: @green;
	letter-spacing: 0.1em;
	line-height: 1.2em;
}

a {
	text-decoration: none;
	color: @green;
}

a:hover {
	border-bottom: 1px solid @green;
}





/***************/
/*** CONTENT ***/
/***************/

header {
	embed {
		display: block;
		width: 260px;
		height: 220px;
		margin: 100px auto 100px auto;
	}
}

article {
	&.contact {
		text-align: center;
		
		.steve, .bram {
			embed {
				display: block;
				margin: 0 auto 15px auto;
			}
		
			width: 250px;
			margin: 0 auto 30px auto;
		}
	}
}





/***************/
/* RESPONSIVE */
/***************/

@media only screen and (min-width: 540px) 
{	
	&.contact {
		width: 500px;
		margin: 0 auto;
	
		.steve, .bram {
			float: left;
		}
	}	
}
